<div class = "post-index center" > 
<h1>All Posts</h1>



<ul id="posts">

  <% @posts.each do |post| %>
  <h3>---------------------------------------------------</h3> 
  <p>Author: <%= post.member.name %></p>
    <label for= 'post'>Post Title:</label><button><%= link_to post.title, post_path(post) %> </button>
  <% end %>
</ul>

</div>
