/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body, 
 .center2 {
    align-items: center;
    background-color: #7fffd4;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  ul {
    padding-left: 0;
    margin-top: 0;
  }

 button {
   width: 250px;
   height: 30px;
 }

 a {
   text-decoration: none;
 }
 
 .forget {
   margin: 25px 25px 0 0;
   height: 20px;
   width: 300px;
 }

 .destroy_member_session {
   width: 300px;
 }

h4 {
   margin-top: 0;
 }

 .nav {
  margin-top: 30px;
  margin-bottom: 30px;
 }

 .btn1 {margin-right: 100px;}

 .btn2 {
  margin-left: 100px;
 }

 .alert, .notice {
  color: #00008b;
 }

 .div-index {
  display: flex;
  flex-direction: row;
 }

 .destroy_member_session{
  padding-top: 8px;
  padding-bottom: 8px;
 }

 .bye-alert{
  color: #0000ff;
  font-size: 1.5rem;
 }